--swiftversion 6.2
--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapconditions after-first
--maxwidth 120
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--self remove
--importgrouping alpha
--commas inline
--decimalgrouping 3,4
--header strip
--ifdef no-indent
--semicolons never
--exclude .build,xc-build
